@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-display: var(--font-display), Impact, sans-serif;
  --font-serif: var(--font-serif), Georgia, serif;
}

body {
  background-color: #050505;
  color: #EAEAEA;
  font-family: var(--font-sans);
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 8px 8px;
}